body{
	background-image: url('Background.gif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.center{
	text-align:center;
}
.image{
	position:absolute;
	width:10%;
	margin-top:0.625em;
	margin-left:40.625em;
	border: 5px dashed black;
	border-radius:50%;
}
.intro{
	background:white;
	margin-top:12.5em;
	margin-left:21.875em;
	position:absolute;
	border: 2px solid black;
	text-align: center;
	width:50%;
	border-radius:45%;
}
.about{
	background:white;
	margin-top:19.375em;
	margin-left:21.875em;
	position:absolute;
	border: 2px solid black;
	text-align: center;
	width:20%;
	height:10%;
}
.about:hover{
	text-decoration:underline;
}
.resume{
	background:white;
	margin-top:19.375em;
	margin-left:48.125em;
	position:absolute;
	border: 2px solid black;
	text-align: center;
	width:20%;
	height:10%;
}
.resume:hover{
	text-decoration:underline;
}
.music{
	background:white;
	margin-top:25em;
	margin-left:21.875em;
	position:absolute;
	border: 2px solid black;
	text-align: center;
	width:20%;
	height:10%;
}
.music:hover{
	text-decoration:underline;
}
.film{
	background:white;
	margin-top:25em;
	margin-left:48.125em;
	position:absolute;
	border: 2px solid black;
	text-align: center;
	width:20%;
	height:10%;
}
.film:hover{
	text-decoration:underline;
}