body{
	margin: 5em;
	background-image: url('background1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
}
h1{
	background-color:#B60609;
	border:2px solid #F3D8A6;
	text-align:center;
	padding: 0.5em;
	font-family: 'Spinnaker', sans-serif;
	font-size: 2.8em;
}
textarea {
  width: 600px;
  height: 150px;
  font-family: Rockwell;
  font-size: 15px;
}
input[type=submit]{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	width: 10%;
}
fieldset{
	background-color:#E25414;
}
legend{
	border:2px solid black;
	background-color: white;
	font-size: 20px;
}
label{
	font-family: Rockwell;
	font-size: 15px;
}
